@model PRESCRIPTIONS_RX.Models.PatientAddress

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>PatientAddress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientSsnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientSsnNavigation.PatientSsn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
